body {
  margin: 0;
  padding: 0;
}
#map {
  max-width: 100%;
  height: 100%;
}
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#paramarker {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px;
  margin: auto;
  margin-top: 1px;
  background-color:red;
  text-align: center;
}

#usercurrentloc{
  height: 80x;
  width:40px;
}

.botcolor{
  color: #083864fe;
}

#prependfrom{
  background-color:#083864fe;
  color: white;
}

#prependto{
  background-color:#083864fe;
  color: white;
}

@media screen and (min-width: 542px){  
  #FromQuery {
    width: 450px;
  }
  #ToQuery{
    width: 450px;
  }
}

@media screen and (max-width: 541px) and (min-width: 422px){  
  #searchbox {
    width: 400px;
  }
  #searchbox2{
    width: 400px;
  }
  #brandlogo{
    height:50%;
    width:50%;
  }
  .navbar-toggler .navbar-toggler-icon{
    height:0.7em;
    width:0.7em;
  }
}

@media screen and (max-width: 421px) and (min-width: 400px) {  
  #searchbox {
    width: 350px;
  }
  #searchbox2{
    width: 350px;
  }
  #brandlogo{
    height:50%;
    width:50%;
  }
  .navbar-toggler .navbar-toggler-icon{
    height:0.7em;
    width:0.7em;
  }
}

@media screen and (max-width: 376px) and (min-width: 330px) {  
  #searchbox {
    width: 300px;
  }
  #searchbox2{
    width: 300px;
  }
  #brandlogo{
    height:50%;
    width:50%;
  }
  .navbar-toggler .navbar-toggler-icon{
    height:0.7em;
    width:0.7em;
  }
}

@media screen and (max-width: 329px){  
  #searchbox {
    width: 200px;
  }
  #searchbox2{
    width: 200px;
  }
  #brandlogo{
    height:50%;
    width:50%;
  }
  .navbar-toggler .navbar-toggler-icon{
    height:0.7em;
    width:0.7em;
  }
  .navbar .navbar-toggler{
    font-size: 0.7rem;
  }
}