body {
  margin: 0;
  padding: 0;
}
#map {
  max-width: 100%;
  height: 100%;
}
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#paramarker {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px;
  margin: auto;
  margin-top: 1px;
  background-color: red;
  text-align: center;
}

#paramarker2 {
  color: red;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px;
  margin: auto;
  margin-top: 1px;
  text-align: center;
}

#usercurrentloc {
  height: 80x;
  width: 40px;
}

.botcolor {
  color: #083864fe;
}

#prependfrom {
  background-color: #083864fe;
  color: white;
}

#prependto {
  background-color: #083864fe;
  color: white;
}

#mapdiv {
  width: 100vw;
  height: 80vh;
}

@media screen and (min-width: 2001px) {
  #FromQuery,
  #ToQuery,
  #menu-container,
  #menu-container2 {
    width: 600px;
  }
}


@media screen and (max-width: 2000px) and (min-width: 542px) {
  #FromQuery,
  #ToQuery,
  #menu-container,
  #menu-container2 {
    width: 450px;
  }
}

@media screen and (max-width: 541px) and (min-width: 422px) {
  #searchbox,
  #searchbox2 {
    width: 400px;
  }
  #menu-container,
  #menu-container2 {
    width: 331px;
  }
  #brandlogo {
    height: 50%;
    width: 50%;
  }
  #mapdiv {
    width: 100vw;
    height: 60vh;
  }
}

@media screen and (max-width: 421px) and (min-width: 400px) {
  #searchbox,
  #searchbox2 {
    width: 350px;
  }
  #menu-container,
  #menu-container2 {
    width: 281px;
  }
  #brandlogo {
    height: 50%;
    width: 50%;
  }
  #mapdiv {
    width: 100vw;
    height: 60vh;
  }
}

@media screen and (max-width: 376px) and (min-width: 330px) {
  #searchbox,
  #searchbox2 {
    width: 300px;
  }
  #menu-container,
  #menu-container2 {
    width: 231px;
  }
  #brandlogo {
    height: 50%;
    width: 50%;
  }
  #mapdiv {
    width: 100vw;
    height: 60vh;
  }
}

@media screen and (max-width: 329px) {
  #searchbox,
  #menu-container,
  #searchbox2,
  #menu-container2 {
    width: 200px;
  }
  #brandlogo {
    height: 50%;
    width: 50%;
  }
  .navbar .navbar-toggler {
    font-size: 0.7rem;
  }
  #mapdiv {
    width: 100vw;
    height: 60vh;
  }
}

.modeliconsize {
  height: 30px;
  width: 20px;
}

#loader{
  height: 70px;
}
